h1 {
position: absolute;
top: 170px;
left: 510px;
font-family: Helvetica;
color: red;
}

#rectangle {
position: absolute;
left: 415px;
top: 92px;
width: 400px;
height: 400px;
border: solid thick red;
z-index: -5;
}

#newuser {
font-family: Helvetica;
position: absolute;
top: 300px;
right: 510px;
}

#newuser #submit {
position: absolute;
top: 119px;
left: 64px;
}

#backpage {
font-family: Helvetica;
}
